pypdf
pydantic
langchain
langchain-openai
langgraph
langsmith
openai
python-dotenv
torch
huggingface_hub
langchain_text_splitters
langchain_qdrant
transformers
langchain_classic
langchain_community
langchain_core
fastembed
sentence-transformers
pymongo
streamlit